* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background: #177e89;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.display {
  margin-bottom: 30px;
  color: #8e936d;
  font-size: 30px;
  font-weight: 900;
}
.display span {
  padding: 2px 30px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  letter-spacing: 5px;
}

.btn-container button {
  margin: 0 20px;
  padding: 10px 30px;
  text-align: center;
  border: 0;
  outline: none;
}
